.user {
  background-image: url("/img/user.jpg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 550px;
  position: relative;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(-18deg, $dark-blue, $light-blue);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100%;
    opacity: 0.9;
    z-index: -1;
  }
}

.user__wrapper {
  z-index: 1;
  padding-top: 168px;
  padding-bottom: 178px;

  @media (max-width: $modile-width) {
    padding-top: 68px;
    padding-bottom: 78px;
  }
}

.user__list {
  display: flex;
  color: $basic-white;
  justify-content: space-between;

  @media (max-width: $modile-width) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

.user__text {
  font-size: $fs-additional;
  line-height: $lh-additional;
  margin: 0;
  font-family: $font-additional;

  @media (max-width: $modile-width) {
    font-size: 18px;
  }
}

.user__item {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.user__number {
  font-family: $font-additional;
  font-weight: 600;
  font-size: 52px;
  line-height: $lh-additional;

  @media (max-width: $modile-width) {
    font-size: 30px;
  }
}

.user__icon {
  font-size: 56px;
  color: rgb(237, 239, 241);
  margin-bottom: 55px;

  @media (max-width: $modile-width) {
    font-size: 44px;
    margin-bottom: 25px;
  }
}

.user__item:first-child {
  padding-left: 10px;

  @media (max-width: $modile-width) {
    padding: 0;
  }
}

.user__item:nth-child(2) {
  padding-left: 33px;

  @media (max-width: $modile-width) {
    padding: 0;
  }
}
