* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: $fs-main;
  line-height: $lh-main;
  font-family: $font-main;
  font-weight: $fw-normal;
  overflow-x: hidden;
}

.box {
  margin: 0 auto;
  width: 60.9375%;

  @media (max-width: $tablet-width) {
    min-width: 94%;
  }

  @media (max-width: $mobile-width) {
    min-width: 90%;
  }
}
