//Viewports
$modile-width: 767px;
$desktop-width: 768px;

// Fonts
$fa-font-path:"../webfonts";
$font-additional: "Poppins", "Arial", sans-serif;
$font-main: "Raleway", "Arial", sans-serif;
$font-extra: "Nunito", "Arial", sans-serif;
$fs-main: 14px;
$lh-main: 28px;
$lh-accent: 42px;
$lh-additional: 40px;
$fs-additional: 24px;
$fs-tltle: 20px;
$fs-accent: 30px;
$fw-normal: 400;

// Color
$basic-black: #000000;
$basic-white: #ffffff;
$basic-grey: #f3f2f2;
$special-black: rgba(0, 0, 0, 0.1);
$extra-black: rgba(0, 0, 0, 0.3);
$dark-blue: #071d68;
$light-blue: #0b4bec;
$dark-blue-special:rgba(7, 29, 104, 0.1);
$light-blue-special: rgba(11, 75, 236, 0.1);
$special-grey: #808080;
$extra-grey: #cccccc;
